* {
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

#container{
   width: 428px;
   height: 761px;
   background-color: #000;
   position: relative;
   margin: 0 auto;
}
img{
    width: 100%;
}

#magnifying-glass-container {
  position: relative;
  height: 100%;
  width: 100%;
}

#magnifying-glass-container > img{
    width: 100%;
}

#magnifying-glass {
  position: absolute;
  border: 6px solid #fff;
  border-radius: 50%;
  cursor: none;
  width: 150px;
  height: 150px;
  background-image: url(../images/veronica_mars_poster.jpg);
  background-repeat: no-repeat;
  cursor: grab;
  overflow: hidden;
}

.magnifying-glass-gradiant-effect{
    background-image: radial-gradient(100% 100% at 0% 0% , rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 99%);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    pointer-events: none;
}

#cta{
    width: 167px;
    height: 33px;
    position: absolute;
    bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    pointer-events: none;
}